
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-8 p-5 col-custom text-black">
        <div class="bg">
            <img id="image" src="{% static "images/daily-tasks.png" %}" alt="dailytask">
            <h3>Interest</h3>
            <p>My interest and hobbies have occupied almost half of my life. Hobbies turn our life out of the ordinary. It is the best pursuit, leisure and pastime. Everyone in this world has their own aims in their lives. It is very difficult to accomplish
                an aim in life because there is a large number of calamities at each step toward aims. Short Essay On My Aim In Life To Become A Software Engineer is given on this page for students. Life without aim is like a ship without a sea. Life
                is a challenge and struggle, if one-stop struggling then he considers dead. Software engineering is one of the rising fields in the world and everyone wants to join this field. Everyone wants to become a software engineer but it is
                not easy to become a software engineer in Pakistan. A person has to work hard to become a software engineer. gaming is my main area of interest. i do alot of gaming like Fortnite and other battle royale games.
            </p>

        </div>
        <br>
        <div class="bg">
            <img id="image" src="{% static "images/experience.png" %}" alt="experence">
            <h3>Experience</h3> <br>
            <div>
                <h4>Senior Developer</h4>
                <h6 class="bg-2">Rdiant Spark Technology </h6>
                <p class="bg-2"> 02/2016-02/2018</p>


                <p>Career options these days not only are far more exciting but bring in quick and tremendous success. The most favouriteand trending job of the world today and especially in our country is Software Development. Due to this passion of
                    Pakistani towards the profession, multiple technological companies have set up camp here giving jobs to hundreds and thousands of people every day. This industry constantly attracts young students who are big technology enthusiasts.
                    What attracted me towards this profession is the fact that I love technology. It excites and intrigues me beyond words. Apart from this, I love competing with my peers. I want to grow in the corporate industry which will give me
                    the opportunity to compete and receive great respect and admiration from my friends and family.</p>



            </div> <br>
            <div>
                <h4>Intern</h4>
                <h6 class="bg-2">Google</h6>
                <p class="bg-2"> 02/2018-present</p>

                <p>Google represents just such a firm. As such, even a cursory analysis of the past reveals the fact that Google has consistently sought out means of developing solutions, engineering new approaches, and helping to connect the world to
                    share the information that exists in a more fluid and complete manner. As such, seeking to be a part of a firm that prizes these aspects above merely making money, is a dream that can only be realized with regards to an internship
                    at Google.</p>


            </div>





        </div>
        <br><br>
        <div class="bg">
            <img id="image" src="{% static "images/requirements.png" %}" alt="req">
            <h3>Skills</h3> <br>

            <div class="d-flex row justify-content-center ">
                <div class="p-2 border border-secondary rounded-3 col">C language</div>
                <div class="p-2 border border-secondary rounded-3 col">C++ language</div>
                <div class="p-2 border border-secondary rounded-3 col">Pyhton </div>
                <div class="p-2 border border-secondary rounded-3 col">R language</div>
                <div class="p-2 border border-secondary rounded-3 col">Matlab</div>
                <div class="p-2 border border-secondary rounded-3 col">HTML</div>
                <div class="p-2 border border-secondary rounded-3 col">CSS</div>


            </div>


        </div>
    </div>


    <div class="col-sm-4 col-custom text-white ">
        <div class="bg1">
            <img id="ro" class="p-2 mx-auto d-block" src="{% static "images/mypic.jpg" %}"  alt="img" height="120" width="120">
            <h5 style="font-weight: bold;" class="text-center">Muhammad Muzafar</h5>
            <h6 id="h6-tg" class="text-center">Full Stack Developer</h6>

            <div class="bg3">
                <div class="p-2 d-flex justify-content-center">
                    <img class="icon" src="{% static "images/github.png" %}" alt="git">
                    <a id="an" href="https://github.com/Burnaviour">github/Burnaviour</a>
                </div>
                <div class="p-2  d-flex justify-content-center">
                    <img class="icon" src="{% static "images/gmail.png" %}" alt="git">
                    <a id="an" href="#">meharmuzafar760@gmail.com </a>
                </div>
                <div class="p-2 d-flex justify-content-center">
                    <img class="icon" src="{% static "images/facebook.png" %}" alt="git">
                    <a id="an" href="https://www.facebook.com/BurnaviourYT/">facebook/Burnaviour</a>
                </div>
                <div class="p-2 d-flex justify-content-center">
                    <img class="icon" src="{% static "images/web-link.png" %}" alt="git">
                    <a id="an" href="homepage.html">www.Burnaviour.com</a>
                </div>
                <div class="p-2 d-flex justify-content-center">
                    <img class="icon" src="{% static "images/telephone.png" %}" alt="git">
                    <p>+92 655565557</p>
                </div>
                <div class="d-flex justify-content-center">
                    <img class="icon" src="{% static "images/whatsapp.png" %}"  alt="git">
                    <p>+92 68985557</p>
                </div>
                <br>
                <div class="text-dec">
                    <h4>EDUCATION</h4>
                    <br>
                    <p>Matric</p>
                    <p class="h6-tg">Allied School</p>
                    <p class="h6-tg">2014-2016</p>

                    <p>ICS (intermidiate in Computer Science)</p>
                    <p class="h6-tg">Forman Chritian College</p>
                    <p class="h6-tg">2016-2018</p>

                </div> <br><br>
            </div>

        </div>
    </div>




</div>
</div>
{% endblock %}